---
Checks: 'readability-identifier-naming'
CheckOptions:
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.TypeAliasCase: lower_case
  readability-identifier-naming.TypedefCase: lower_case
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.PrivateMemberSuffix: _
