[submodule "deps/minimalclib"]
	path = deps/minimalclib
	url = https://github.com/stephanfr/minimalclib.git
[submodule "deps/minimalstdio"]
	path = deps/minimalstdio
	url = https://github.com/stephanfr/minimalstdio.git
[submodule "deps/minimalstdlib"]
	path = deps/minimalstdlib
	url = https://github.com/stephanfr/minimalstdlib.git
[submodule "deps/baremetalbase"]
	path = deps/baremetalbase
	url = https://github.com/stephanfr/baremetalbase.git
[submodule "deps/fat32filesystem"]
	path = deps/fat32filesystem
	url = https://github.com/stephanfr/fat32filesystem.git
